.cards{

	display:flex;
	width:1654px;
	background-color:rgb(207,97,0);
	padding-bottom: 35px;
	padding-left:115px;
	padding-left:250px;


}

.cards { 
	width:1400px;
	margin: 0 ;
}


@media(max-width:1750px) {

	.cards{
		flex-wrap: wrap;
	}

}
